* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'josefin Sans Variable', sans-serif; */
}

*:focus {
    outline: none;
}

body {
    color: #eee;
    background-color: #1d1c1b;
    font-family: 'Syne Mono', monospace;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: minmax(100px 1fr) 70px 1fr;
    /* font-family: 'Share Tech Mono', monospace, 'Syne Mono'; */
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    
}   

/******************************* header **************************/
.header {
    display: grid;
    grid-template-columns: 1fr 100px;
    justify-content: space-between;
    align-items: center;
}
.dir-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    
}
.date-container {
    display: grid;
    justify-self: end;
    margin-right: 10px;
}

.present-date {
    font-size: 1rem;
    opacity: 40%;
}
.current-time {
    justify-self: end;
    font-size: 1.3rem;
}

.title-text {
    opacity: 70%;
}

.dirName {
    color: #ff8576;
}

/**************************** nav ****************************/

.nav-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 5px;
    align-content: center;
    justify-items: center;
    /* background-color: #eee; */
}

.todo-btn, .project-btn, .completed-tasks-btn {
    font-size: 1.2rem;
    font-family: 'Share Tech Mono', monospace;
    border: none;
    background-color: transparent;
    color: #eee;
    padding: 7px 0.4em;
}


/******************** newTodo **************** */
#todoPage, #projectPage {
    display: grid;
    /* grid-template-rows: minmax(min-content, 1fr) 1fr; */
}

.grid-container {
    display: grid;
}

.newTodo-container {
    background-color: #292726;
    margin: 3%;
    padding: 5px;
    border: hsl(0, 0%, 60%) solid 2px;
}

#placeholder {
    background-color: transparent;
    color: #eee;
    font-size: 1.2rem;
    border: none;
    max-width: 160px; 
}

#newTodo {
    line-height: 1.5;
    resize: none;
    margin-left: 10px;
    color: #eee;
    border: none;
    font-size: 1.4rem;
    background-color: transparent;
}

#addBtn, .new-project-btn, .clear-all-task-btn {
    font-size: 1.5rem;
    width: 60%;
    color: #eee;
    background-color: transparent;
    place-self: center;
    border: 1px solid #ff8576;
}

#addBtn:hover, #addBtn:focus, .new-project-btn:hover, .new-project-btn:focus, .clear-all-task-btn:hover, .clear-all-task-btn:focus {
    background-color: #ff8576;
    color: #eee;
}

/* -----------------placeholders--------------------- */
::placeholder {
    color: var(--col, #eee);
}

/* 
::-webkit-input-placeholder {
    text-align: center;
} 
*/
 
/* :-moz-placeholder {
    text-align: center;  
} */
 
/* ::-moz-placeholder {  
    text-align: center;  
} */
 
/* :-ms-input-placeholder {  
    text-align: center; 
} */

/* ----------------task---------------------- */

hr {
    margin: 10px;
    width: 90%;
    color: #eee;
    opacity: 40%;
    place-self: center;
}

.task-container, .completed-task-container {
    margin: 3%;
    border-bottom: solid 1.5px #ff8576;
    display: grid;
    grid-template-columns: 25px 1fr 30px;
}
input.checkbox {
    /* -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none; */
    background-color: #ff8576;
    
}

input.checkbox:checked {
    border: #eee;
    color: #ff8576;
    background-color: transparent;
}

.task-text {
    align-self: center;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.remove-task-btn {
    background-color: #ff8576;
    color:#292726;
    max-height: 35px;
    /* margin: 10px 10px 10px 5px; */
    padding: 0px 0.3em;
    border: none;
    font-size: 2rem;
    place-self: center;
    grid-column: 3 / 4;
}

.remove-task-btn:hover, .remove-task-btn:focus {
    box-shadow: 3px 3px 0px #a2554b;
}

/* ------------------------------ projects--------------------------- */

.new-project-btn-container, .new-project-container, .clear-all-task-btn-container {
    grid-row: 1 / 2;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.new-project-btn {
    width: 80%;
    padding: 10px;
}

.separator {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.separator::after,
.separator::before {
    content: ' ';
    flex: 1;
    margin: 0px 20px;
    opacity: 40%;
    border-bottom: 1px solid #eee;
}
.separator:not(:empty)::before {
    margin-right: .25em;
}
.separator:not(:empty)::after {
    margin-left: .25em;
}

.existing-projects-container {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.new-project-container {
    display: flex;
    width: 90%;
    padding: 3px;
    justify-self: center;
    border: solid #ff8576 2px;
}

#new-project-name {
    width: 95%;
    color: #eee;
    background-color: transparent;
    font-size: 1.3rem;
    padding:10px;
    border: none;
}

.add-new-project-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    border-left: 2px solid #ff8576;
    padding: 10px;
    width: 50px;
    color: #eee;
    justify-content: end;
}

.add-new-project-btn:hover, .add-new-project-btn:focus {
    background-color: #ff8576;
    color: #eee;
}
.project-icon {
    filter: url('./assets/folder-logo.svg');
    width: 30px;
    fill: red;

    filter: invert(100%) hue-rotate(120deg);

}

/* ---------------project------------------- */
.project-container {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    justify-content: center;
    gap: 5px;
    width: 90%;
    border-left: 1px solid #ff8576;
    padding-left: 5px;
    place-self: center; 
    padding-bottom: 10px;     
}

.project-container:focus, .project-container:hover {
    border-bottom: solid 1px #ff8576;
}
.project-name {
    font-family: 'Syne Mono', monospace;
}

.delete-project-btn {
    background-color: transparent;
    color: #ff8576;
    font-size: 1.2rem;
    border: 1px solid #ff8576;
    opacity: 50%;
}

.delete-project-btn:hover, .delete-project-btn:focus {
    opacity: 90%;
    background-color: #ff8576;
    color: #eee;
}

/* ------------------file---------------------------- */

#projectFilePage {
    display: grid;
}

#projectFilePage div.todolist div.task-container {
    grid-template-rows: 1fr minmax(20px);
}


#projectFilePage div.todolist div.task-container div.task-folder-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-self: end;
    width: fit-content;
    padding: 0.05em 0.2em;
    margin-bottom: 0.1em;
    margin-right: 0.1em;
    background-color: #ae4335;
}

#projectFilePage div.todolist div.task-container div.task-folder-container p.task-folder-name {
    font-size: 0.845rem;
    font-style: italic;
    color: #eee;
    font-weight: 600;
}

/* ----------completed tasks---------------- */

.tool-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#completedTaskPage {
    display: grid;
    grid-template-rows: 80px 1fr;
}

.completed-task-container {
    grid-template-columns: 1fr 30px;
}

.completed-task-text {
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: line-through;
    opacity: 70%;
}

.clear-all-task-btn-container {
    margin-bottom: 20px;
}


/* ------------dialog------------- */

form.form {
    display: grid;
    grid-template-rows: 1.3em 1fr 2em;
}

dialog {
    width: max-content;
    justify-content: center;
    background-color: #292726;
    border: #ff8576 solid 1px;
    font-family: monospace;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

dialog .close-btn-container {
    display: grid;
}

dialog .close-btn {
    margin-right: 10px;
    font-weight: 700;
    color: #eee;
    font-size: 1.3rem;
    align-self: center;
    border: none;
    justify-self: end;
    background-color: transparent;
}

dialog .msg-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

dialog .msg {
    font-size: 1.4rem;
    text-align: center;
    background-color: transparent;
    color: #eee;

}

dialog .confirmation-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

dialog .cancel-btn, dialog .ok-btn {
    font-size: 1.2rem;
    padding: 0.5em;
    background-color: #ff8576;
    border: none;
}

dialog .ok-btn:hover, dialog .ok-btn:focus, dialog .cancel-btn:hover, dialog.cancel-btn:focus  {
    box-shadow: 0 0 0 0.125rem #292726, 0 0 0 0.2rem #ff8576;
}

dialog .close-btn:hover, dialog .close-btn:focus {
    box-shadow: 0 0 0 0.125rem #292726, 0 0 0 0.2rem #eee;
} 





/* -----------media query--------------- */

@media only screen and (min-width: 800px ) {
    body {
        height: 100vh;
        grid-template-columns: minmax(200px, 300px) 1fr;
        grid-template-rows: 100px 1fr;
    }

    div.nav-container {
        grid-area: 1 / 1 / 3 / 2;
        gap: 20px;
        padding-top: 20px;
        align-items: center;
        display: flex;
        margin: 0;
        background-color: #2a2625;
        flex-direction: column;
        border-right: 1px #ff8576 solid;
    }

    content#content {
        grid-area: 2 / 2 / 3 / 3;
    }

    header.header {
        grid-column: 2 / 3;
    }

    .project-btn-container {
        display: flex;
        flex-wrap: wrap;
    }


}